* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body{
  display: grid;
  place-items: center;
}

main{
  width: 100vw;
  height: 102.4rem;
  margin: 0 auto;
  background-image: url("./assets/images/fundo.svg");
}

.labour{
  margin: 22rem auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  width: 105rem;
}

.mole{
  width: 22.2rem;
  height: 16.8rem;
  background-image: url(./assets/images/toupeira6.svg) ;
}

.fisrt{
  animation: mole-animation 0.7s;
  animation-delay: 10s;
  animation-iteration-count: 1;

  
  transition: all 900ms;
}

.second{
  animation: mole-animation 0.7s;
  animation-delay: 3s;
  animation-iteration-count: 1;

  
  transition: all 900ms;
}

.third{
  animation: mole-animation 0.7s;
  animation-delay: 7s;
  animation-iteration-count: 1;

  
  transition: all 900ms;
}

@keyframes mole-animation {
  0% {
      background-image: url(./assets/images/toupeira1.svg);
  }
  20% {
      background-image: url(./assets/images/toupeira2.svg);
  }
  40% {
      background-image: url(./assets/images/toupeira3.svg);
  }
  60% {
      background-image: url(./assets/images/toupeira4.svg);
  }
  80% {
      background-image: url(./assets/images/toupeira5.svg);
  }
  100% {
      background-image: url(./assets/images/toupeira6.svg);
  }
  
}